/* CreateMeal.css */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.food-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.food-image {
  width: 60%;
  height: auto;
  border-radius: 8px;
}

.nutrition-summary {
  border: 1px solid #ccc;
  margin-top: 20px; /* Asegúrate de que haya suficiente espacio */
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meal-name-container {
  margin-top: 20px; /* Espaciado entre el resumen de nutrición y el input del nombre de la comida */
  width: 100%;
}

input[type="text"], input[type="number"] {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 8px;
  margin: 10px 0; /* Espaciado entre inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-meal-btn, .clear-all-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-meal-btn:hover {
  background-color: #45a049;
}
