/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
  height: 50px; /* Reduce la altura */
  font-size: 14px; /* Reduce el tamaño del texto */
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Navbar links */
.navbar-links {
  display: flex;
  gap: 15px; /* Reduce la separación entre links */
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 10px; /* Reduce el padding */
  border-radius: 5px;
  margin-right: 30px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #555;
}

/* Logout button */
.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px; /* Reduce el padding */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #555;
}

/* Navbar toggle (hamburger menu for mobile) */
.navbar-toggle {
  display: none;
}

.hamburger {
  width: 25px; /* Reduce el tamaño de la hamburguesa */
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    border-radius: 5px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}
.search-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -400px;
}

.search-bar {

  height: 7px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin: 10px 10px 0px;
  width: 50px; /* Ajusta el tamaño de la imagen */
  height: 50px; /* Ajusta el tamaño de la imagen */
  border-radius: 50%;
  object-fit: cover; /* Hace que la imagen sea redonda */
  
}
